<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-title>Patrocinador</ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
    <ion-row>
        <ion-col size="12" class="detailsimgSpeaker">
          <img [src]="imagen">
        </ion-col>
    </ion-row>
  
    <ion-grid class="dataUsuario">
      <ion-row class="ion-justify-content-start">
            <ion-col size="12">
              <div>
                  <h5>Nombre</h5>
                  <p>{{compania}}</p>
              </div>
            </ion-col>
      </ion-row>
    
      <ion-row class="ion-justify-content-start">
            <ion-col size="12">
                <div>
                   <h5>Website</h5>
                   <p>{{website}}</p> 
                </div>
              </ion-col>
      </ion-row>
    
      <ion-row class="ion-justify-content-start">
              <ion-col size="12">
                  <div>
                      <h5>Celular</h5>
                      <p>{{celular}}</p>
                  </div>
                </ion-col>
      </ion-row>
    
      <ion-row class="ion-justify-content-start">
        <ion-col size="12">
          <div>
            <h5>Stand</h5>
            <p>{{stand}}</p>
          </div>
        </ion-col>
      </ion-row>
          
      <ion-row class="ion-justify-content-start">
        <ion-col size="12">
          <div>
            <h5>Perfil</h5>
            <p>{{perfil}}</p>
          </div>
        </ion-col>
      </ion-row>
      </ion-grid>
</ion-content>
