<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-title>Conferencista</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-content>
    <ion-row>
      <ion-col size="12" >
        <img class=" detailsimgSpeaker" [src]="foto">
      </ion-col>
    </ion-row>

    <ion-grid class="dataUsuario">

        <ion-row class="ion-justify-content-start">
          <ion-col size="12">
            <div>
                <h5>Nombre</h5>
                <p>{{nombre}}</p>
            </div>
          </ion-col>
        </ion-row>
  
        <ion-row class="ion-justify-content-start">
          <ion-col size="12">
              <div>
                 <h5>Email</h5>
                 <p>{{email}}</p> 
              </div>
            </ion-col>
        </ion-row>
  
        <ion-row class="ion-justify-content-start">
            <ion-col size="12">
                <div>
                    <h5>Celular</h5>
                    <p>{{celular}}</p> 
                </div>
              </ion-col>
        </ion-row>
  
        <ion-row class="ion-justify-content-start">
              <ion-col size="12">
                  <div>
                      <h5>Compañia</h5>
                      <p>{{compania}}</p>
                  </div>
                </ion-col>
                
        </ion-row>
        
        <ion-row class="ion-justify-content-start">
                  <ion-col size="12">
                      <div>
                          <h5>Cargo</h5>
                          <p>{{cargo}}</p>
                      </div>
                    </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-start">
                      <ion-col size="12">
                          <div>
                              <h5>Perfil</h5>
                              <p>{{perfil}}</p>
                          </div>
                        </ion-col>
        </ion-row>
        
    </ion-grid>
  </ion-content>
  