<ion-header>
    <ion-toolbar>
      <ion-title>Detalle Conferencia</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-row>
      <ion-col size="12" >
        <img class=" detailsimgSpeaker" [src]="foto">
      </ion-col>
      <br>
      <p>
        Nombre : {{nombre}}<br>
        Email : {{email}}<br>
        Celular : {{celular}}<br>
        Compañia : {{compania}}<br>
        Cargo : {{cargo}}<br>
        Perfil : {{perfil}}<br>
      </p>
    </ion-row>
  </ion-content>
  