<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-title>Patrocinadores</ion-title>
    </ion-toolbar>
</ion-header>

<ion-searchbar animated (ionChange)="buscar($event)"></ion-searchbar>

<ion-content>
    <ion-card class="ConteDatosStands" *ngFor="let dataPatrocinador of dataPatrocinadores">
        <ion-card-content  class="paddingCard">
          <ion-row>
              <ion-col size="3" class="paddingTopX" [routerLink]="['/deta-patrocina/', dataPatrocinador.id]">
                  <div class="logoImgPeople animated tada shadowImg" height="120">
                    <img class=" detailsimgSpeaker" src="https://testing.gevents.co/middleware/public/images/events/{{dataPatrocinador.imagen}}">
                  </div>
              </ion-col>
              <ion-col size="9" class="contenTextStands" [routerLink]="['/deta-patrocina/', dataPatrocinador.id]">
                <div class="ion-text-uppercase nombreStand">
                    <b>{{dataPatrocinador.compania}}</b>
                  </div> 
              </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
</ion-content>
