<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
            <ion-icon name="close" ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Pregunta</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="registroPregunta(form)">
        <ion-item>
            <ion-label>Conferencia</ion-label>
            <ion-select [(ngModel)]="idconfe" name="idconfe" interface="popover">
              <ion-select-option *ngFor="let conferencias of dataConferencias" [value]="conferencias.id">{{conferencias.titulo}}</ion-select-option>
            </ion-select>
          </ion-item>
        <ion-item>
            <ion-label position="floating">Pregunta</ion-label>
            <ion-textarea [(ngModel)]="pregunta" name="pregunta"></ion-textarea>
        </ion-item>
        <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin">Crear</ion-button>
          </div>
    </form>
</ion-content>
