<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Preguntas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Conferencia</ion-label>
        <ion-select placeholder="Select One" >
          <ion-select-option *ngFor="let conferencias of dataConferencias" [value]="conferencias.id">{{conferencias.titulo}}</ion-select-option>
        </ion-select>
      </ion-item>

  <ion-card class="" *ngFor="let pregunta of dataPreguntas">
    <ion-card-content  class="paddingCard">
      <ion-row>
          <ion-col size="3" class="paddingTopX" [routerLink]="['/deta-documento/', pregunta.id]">
            <ion-icon  src="./assets/sample-icons/food/elections.svg"></ion-icon>
          </ion-col>
          <ion-col class="" size="9" [routerLink]="['/deta-documento/', pregunta.id]">
            <div class="ion-text-uppercase nombreAsistente">
              <b>  {{pregunta.pregunta}} </b>
            </div> 
          </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
