.paddingTopX ion-icon{
    font-size: 4em;
}

.nombreAsistente{
    color: #2e386e;
}

.detailsimgSpeaker{
    padding: var(--page-margin);
}

.dataUsuario h5{
    color: #2e386e;
    border-bottom: 1px solid var(--ion-color-light-shade);
}

.dataUsuario p{
    margin-bottom: 0;
}

.detailsimgSpeaker{
    text-align: center;
}


.detailsimgSpeaker  img{
    width: 50%;
}