<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="4">
      <b>Titulo</b><br>
      {{titulo}}
    </ion-col>
    <ion-col size="4">
      <b>Hora Inicio</b><br>
      {{horaInicio}}
    </ion-col>
    <ion-col size="4">
      <b>Hora Fin</b><br>
      {{horaCierre}}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4">
      <b>Dia</b><br>
      {{dia}}
    </ion-col>
    <ion-col size="4">
      <b>Ubicacion</b><br>
      {{ubicacion}}
    </ion-col>
    <ion-col size="4">
      <b>Capacidad</b><br>
      {{capacidad}}
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col size="12">
        <b>Descripcion</b><br>
        {{description}}
      </ion-col>
  </ion-row>
  
<h3>Conferencistas</h3>

  <ion-card class="" *ngFor="let dataConferencista of dataConferencistas">
      <ion-card-content  class="paddingCard">
        <ion-row>
            <ion-col size="3" class="paddingTopX" [routerLink]="['/deta-conferencis/', dataConferencista.id]">
                <div class="logoImgPeople animated tada shadowImg" height="120">
                  <img class=" detailsimgSpeaker" src="http://localhost/middleware/public/images/events/{{dataConferencista.foto_perfil}}">
                </div>
            </ion-col>
            <ion-col size="9" class="" [routerLink]="['/deta-conferencis/', dataConferencista.id]">
              <div class="" >
                  <h4> {{dataConferencista.nombre + ' ' + dataConferencista.apellido}} </h4>
                  <p>{{ dataConferencista.cargo }}</p>
                  <p>{{ dataConferencista.compania }}</p>
              </div>
            </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

</ion-content>
