<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="contenInfoAgendaHead">
          <ion-col class="tituloAgenda" size="12">
            <b>{{titulo}}</b>
          </ion-col>
          <ion-col size="12">
              <p class="conteInfoAgenda">
                <ion-icon class="icono" src="./assets/sample-icons/food/calendar.svg"></ion-icon> {{ dia }}
                &nbsp;&nbsp;<ion-icon class="icono" src="./assets/sample-icons/food/clock.svg"></ion-icon> {{ horaInicio }}
              </p>
          </ion-col>

          <ion-col size="12">
            <p>
                {{descripcion}}
            </p>
          </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="dataUsuario">

    <ion-row class="ion-justify-content-start">
        <ion-col size="12">
          <div>
              <h5>Ubicacion</h5>
              <p>{{ubicacion}}</p>
          </div>
        </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
          <ion-col size="12">
            <div>
                <h5>Capacidad</h5>
                <p>{{capacidad}}</p>
            </div>
          </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
            <ion-col size="12">
              <div>
                  <h5>Compañia</h5>
                  <p>{{capacidad}}</p>
              </div>
            </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
              <ion-col size="12">
                <div>
                    <h5>Link</h5>
                    <p>{{capacidad}}</p>
                </div>
              </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
                <ion-col size="12">
                  <div>
                      <h5>Conferencistas</h5>
                  </div>
                </ion-col>
    </ion-row>

  </ion-grid>


  <ion-card class="" *ngFor="let dataConferencista of dataConferencistas">
      <ion-card-content  class="paddingCard">
        <ion-row>
            <ion-col size="3" class="paddingTopX" [routerLink]="['/deta-conferencis/', dataConferencista.id]">
                <div class="logoImgPeople animated tada shadowImg" height="120">
                  <img class=" detailsimgSpeaker" src="https://testing.gevents.co/middleware/public/images/events/{{dataConferencista.foto_perfil}}">
                </div>
            </ion-col>
            <ion-col size="9" class="" [routerLink]="['/deta-conferencis/', dataConferencista.id]">
              <div class="ion-text-uppercase nombreAsistente">
                  <b> {{dataConferencista.nombre + ' ' + dataConferencista.apellido}} </b>
              </div>
                  <p>{{ dataConferencista.cargo }}</p>
                  <p>{{ dataConferencista.compania }}</p>
              
            </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>



</ion-content>
