.tituloAgenda{
    color: #2e386e;
    font-size:1.3em; 
}

.contenInfoAgendaHead p{
    margin-top: 0;
}


.dataUsuario h5{
    color: #2e386e;
    border-bottom: 1px solid var(--ion-color-light-shade);
}

.dataUsuario p{
    margin-bottom: 0;
}

.nombreAsistente{
    color: #2e386e;
}

.contenTextAsistente{
    padding-left: 2em;
}