<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
     
    <ion-title>{{event.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container >
    <div class="listing-item" >
      <ion-row class="image-row">
        <ion-col size="12">
          <img class="add-overlay item-image" [src]="banner">
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
  
  <ion-row class="contenMenuIcon">
      <ion-col size="4"> 
          <ion-tab-button [routerLink]="'/sobr-evento/' + evento">
              <ion-icon src="./assets/sample-icons/food/multiple-users-silhouette.svg"></ion-icon>
              <ion-label class="tab-title">Sobre Evento</ion-label>
            </ion-tab-button>
      </ion-col>
    <ion-col size="4"> 
      <ion-tab-button  [routerLink]="'/asistentes/' + evento">
        <ion-icon class="icono" src="./assets/sample-icons/auth/eye-show.svg"></ion-icon>
        <ion-label class="tab-title">Asistentes</ion-label>
      </ion-tab-button>
    </ion-col>
    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/stands/' + evento">
            <ion-icon src="./assets/sample-icons/side-menu/categories.svg"></ion-icon>
            <ion-label class="tab-title">Stands</ion-label>
          </ion-tab-button>
    </ion-col>
  </ion-row>

  <ion-row class="contenMenuIcon">
      <ion-col size="4"> 
        <ion-tab-button  [routerLink]="'/agenda/' + evento">
          <ion-icon src="./assets/sample-icons/food/calendar.svg"></ion-icon>
          <ion-label class="tab-title">Agenda</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col size="4"> 
          <ion-tab-button [routerLink]="'/patrocinadores/' + evento">
              <ion-icon src="./assets/sample-icons/food/star.svg"></ion-icon>
              <ion-label class="tab-title">Patrocinadores</ion-label>
            </ion-tab-button>
      </ion-col>
      
    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/conferencistas/' + evento">
            <ion-icon src="./assets/sample-icons/side-menu/contact-card.svg"></ion-icon>
            <ion-label class="tab-title">Conferencistas</ion-label>
          </ion-tab-button>
    </ion-col>
  </ion-row>

  <ion-row class="contenMenuIcon">
      <ion-col size="4"> 
          <ion-tab-button [routerLink]="'/video-playlist/'">
              <ion-icon src="./assets/sample-icons/food/play-button.svg"></ion-icon>
              <ion-label class="tab-title">Video</ion-label>
            </ion-tab-button>
      </ion-col>

      <ion-col size="4"> 
        <ion-tab-button  [routerLink]="'/documentos/' + evento">
          <ion-icon src="./assets/sample-icons/food/file.svg"></ion-icon>
          <ion-label class="tab-title">Documentos</ion-label>
        </ion-tab-button>
      </ion-col>

    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/conferencistas/' + evento">
            <ion-icon src="./assets/sample-icons/side-menu/notifications.svg"></ion-icon>
            <ion-label class="tab-title">Noticias</ion-label>
          </ion-tab-button>
    </ion-col>
  </ion-row>

  <ion-row class="contenMenuIcon">
    <ion-col size="4"> 
      <ion-tab-button  [routerLink]="'/asistentes/' + evento">
        <ion-icon class="icono" src="./assets/sample-icons/food/ticket.svg"></ion-icon>
        <ion-label class="tab-title">Boletas</ion-label>
      </ion-tab-button>
    </ion-col>
    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/stands/' + evento">
            <ion-icon src="./assets/sample-icons/food/qr-code.svg"></ion-icon>
            <ion-label class="tab-title">QR</ion-label>
          </ion-tab-button>
    </ion-col>
    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/conferencistas/' + evento">
            <ion-icon src="./assets/sample-icons/food/link.svg"></ion-icon>
            <ion-label class="tab-title">Networking</ion-label>
          </ion-tab-button>
    </ion-col>
  </ion-row>

  <ion-row class="contenMenuIcon">
      <ion-col size="4"> 
        <ion-tab-button  [routerLink]="'/agenda/' + evento">
          <ion-icon src="./assets/sample-icons/food/facebook-logo.svg"></ion-icon>
          <ion-label class="tab-title">Redes Sociales</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col size="4"> 
          <ion-tab-button [routerLink]="'/patrocinadores/' + evento">
              <ion-icon src="./assets/sample-icons/food/internet.svg"></ion-icon>
              <ion-label class="tab-title">Webview</ion-label>
            </ion-tab-button>
      </ion-col>
      <ion-col size="4"> 
          <ion-tab-button [routerLink]="'/conferencistas/' + evento">
              <ion-icon src="./assets/sample-icons/food/speech-bubble.svg"></ion-icon>
              <ion-label class="tab-title">Chat</ion-label>
            </ion-tab-button>
      </ion-col>
  </ion-row>

  <ion-row class="contenMenuIcon">
    <ion-col size="4"> 
      <ion-tab-button  [routerLink]="'/agenda/' + evento">
        <ion-icon src="./assets/sample-icons/food/question-mark.svg"></ion-icon>
        <ion-label class="tab-title">Preguntas</ion-label>
      </ion-tab-button>
    </ion-col>
   
    <ion-col size="4"> 
        <ion-tab-button  [routerLink]="'/agenda/' + evento">
          <ion-icon src="./assets/sample-icons/food/maps-and-flags.svg"></ion-icon>
          <ion-label class="tab-title">Mapa</ion-label>
        </ion-tab-button>
      </ion-col>
    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/conferencistas/' + evento">
            <ion-icon src="./assets/sample-icons/food/gallery.svg"></ion-icon>
            <ion-label class="tab-title">Galeria</ion-label>
          </ion-tab-button>
    </ion-col>
  </ion-row>

  <ion-row class="contenMenuIcon">
    
    <ion-col size="4"> 
      <ion-tab-button [routerLink]="'/patrocinadores/' + evento">
          <ion-icon src="./assets/sample-icons/food/elections.svg"></ion-icon>
          <ion-label class="tab-title">Encuestas</ion-label>
        </ion-tab-button>
  </ion-col>
    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/patrocinadores/' + evento">
            <ion-icon src="./assets/sample-icons/food/airplane-travelling-around-earth.svg"></ion-icon>
            <ion-label class="tab-title">Turismo</ion-label>
          </ion-tab-button>
    </ion-col>
    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/conferencistas/' + evento">
            <ion-icon src="./assets/sample-icons/travel/comments.svg"></ion-icon>
            <ion-label class="tab-title">Anuncios</ion-label>
          </ion-tab-button>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
  <a href="{{anuncio.link}}">
    <img src="https://testing.gevents.co/middleware/public/images/events/{{ anuncio.imagen }}" alt="">
  </a>
</ion-footer>