<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{event.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ng-container >
    <div class="listing-item" >
      <ion-row class="image-row">
        <ion-col size="12">
          <img class="add-overlay item-image" [src]="banner">
          
        </ion-col>
      </ion-row>

      
    </div>
  </ng-container>
  

  <ion-row class="contenMenuIcon">
    <ion-col size="4"> 
      <ion-tab-button  [routerLink]="'/asistentes/' + evento">
        <ion-icon class="icono" src="./assets/sample-icons/auth/eye-show.svg"></ion-icon>
        <ion-label class="tab-title">Asistentes</ion-label>
      </ion-tab-button>
    </ion-col>
    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/stands/' + evento">
            <ion-icon src="./assets/sample-icons/side-menu/categories.svg"></ion-icon>
            <ion-label class="tab-title">Stands</ion-label>
          </ion-tab-button>
    </ion-col>
    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/conferencistas/' + evento">
            <ion-icon src="./assets/sample-icons/side-menu/contact-card.svg"></ion-icon>
            <ion-label class="tab-title">Conferencistas</ion-label>
          </ion-tab-button>
    </ion-col>
  </ion-row>

  <ion-row class="contenMenuIcon">
      <ion-col size="4"> 
        <ion-tab-button  [routerLink]="'/agenda/' + evento">
          <ion-icon src="./assets/sample-icons/food/reviews.svg"></ion-icon>
          <ion-label class="tab-title">Agenda</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col size="4"> 
          <ion-tab-button [routerLink]="'/patrocinadores/' + evento">
              <ion-icon src="./assets/sample-icons/food/points.svg"></ion-icon>
              <ion-label class="tab-title">Patrocinadores</ion-label>
            </ion-tab-button>
      </ion-col>
      <ion-col size="4"> 
          <ion-tab-button [routerLink]="'/conferencistas/' + evento">
              <ion-icon src="./assets/sample-icons/tabs/notifications.svg"></ion-icon>
              <ion-label class="tab-title">Conferencistas</ion-label>
            </ion-tab-button>
      </ion-col>
  </ion-row>

  <ion-row class="contenMenuIcon">
    <ion-col size="4"> 
      <ion-tab-button  [routerLink]="'/agenda/' + evento">
        <ion-icon src="./assets/sample-icons/food/calories.svg"></ion-icon>
        <ion-label class="tab-title">Agenda</ion-label>
      </ion-tab-button>
    </ion-col>
    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/patrocinadores/' + evento">
            <ion-icon src="./assets/sample-icons/food/difficulty.svg"></ion-icon>
            <ion-label class="tab-title">Patrocinadores</ion-label>
          </ion-tab-button>
    </ion-col>
    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/conferencistas/' + evento">
            <ion-icon src="./assets/sample-icons/food/points.svg"></ion-icon>
            <ion-label class="tab-title">Conferencistas</ion-label>
          </ion-tab-button>
    </ion-col>
  </ion-row>


  <ion-row class="contenMenuIcon">
    <ion-col size="4"> 
      <ion-tab-button  [routerLink]="'/asistentes/' + evento">
        <ion-icon class="icono" src="./assets/sample-icons/auth/eye-show.svg"></ion-icon>
        <ion-label class="tab-title">Asistentes</ion-label>
      </ion-tab-button>
    </ion-col>
    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/stands/' + evento">
            <ion-icon src="./assets/sample-icons/side-menu/categories.svg"></ion-icon>
            <ion-label class="tab-title">Stands</ion-label>
          </ion-tab-button>
    </ion-col>
    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/conferencistas/' + evento">
            <ion-icon src="./assets/sample-icons/side-menu/contact-card.svg"></ion-icon>
            <ion-label class="tab-title">Conferencistas</ion-label>
          </ion-tab-button>
    </ion-col>
  </ion-row>

  <ion-row class="contenMenuIcon">
      <ion-col size="4"> 
        <ion-tab-button  [routerLink]="'/agenda/' + evento">
          <ion-icon src="./assets/sample-icons/food/reviews.svg"></ion-icon>
          <ion-label class="tab-title">Agenda</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col size="4"> 
          <ion-tab-button [routerLink]="'/patrocinadores/' + evento">
              <ion-icon src="./assets/sample-icons/food/points.svg"></ion-icon>
              <ion-label class="tab-title">Patrocinadores</ion-label>
            </ion-tab-button>
      </ion-col>
      <ion-col size="4"> 
          <ion-tab-button [routerLink]="'/conferencistas/' + evento">
              <ion-icon src="./assets/sample-icons/tabs/notifications.svg"></ion-icon>
              <ion-label class="tab-title">Conferencistas</ion-label>
            </ion-tab-button>
      </ion-col>
  </ion-row>

  <ion-row class="contenMenuIcon">
    <ion-col size="4"> 
      <ion-tab-button  [routerLink]="'/agenda/' + evento">
        <ion-icon src="./assets/sample-icons/food/calories.svg"></ion-icon>
        <ion-label class="tab-title">Agenda</ion-label>
      </ion-tab-button>
    </ion-col>
    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/patrocinadores/' + evento">
            <ion-icon src="./assets/sample-icons/food/difficulty.svg"></ion-icon>
            <ion-label class="tab-title">Patrocinadores</ion-label>
          </ion-tab-button>
    </ion-col>
    <ion-col size="4"> 
        <ion-tab-button [routerLink]="'/conferencistas/' + evento">
            <ion-icon src="./assets/sample-icons/food/points.svg"></ion-icon>
            <ion-label class="tab-title">Conferencistas</ion-label>
          </ion-tab-button>
    </ion-col>
  </ion-row>

</ion-content>