<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-title>Agenda</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card class="card card-ios  shadowCards heightCards borderCard marginBottomCard" *ngFor="let dataAgend of dataAgenda">
      <ion-card-content  class="paddingCard" [routerLink]="['/deta-agenda/', dataAgend.id]">
        <p class="ion-text-uppercase tituloAgenda"><b>{{ dataAgend.titulo }}</b></p>
        <p class="conteInfoAgenda"><ion-icon class="icono" src="./assets/sample-icons/food/calendar.svg"></ion-icon> {{ dataAgend.dia_agenda }}</p>
        <p class="conteInfoAgenda"><ion-icon class="icono" src="./assets/sample-icons/food/clock.svg"></ion-icon> {{ dataAgend.hora_inicio }} {{ dataAgend.hora_cierre }}</p>
      </ion-card-content>
    </ion-card>

</ion-content>
