<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-title>Stands</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar animated (ionChange)="buscar($event)"></ion-searchbar>

<ion-content>
  <ion-card class="" *ngFor="let dataExpositor of dataExpositores">
        <ion-card-content  class="paddingCard">
          <ion-row>
              <ion-col size="3" class="paddingTopX" [routerLink]="['/deta-stand/', dataExpositor.id]">
                <a >
                  <div class="logoImgPeople animated tada shadowImg" height="120">
                    <img class=" detailsimgSpeaker" src="https://testing.gevents.co/middleware/public/images/events/{{dataExpositor.imagen}}">
                  </div>
                </a>
              </ion-col>
              <ion-col size="9" class="" [routerLink]="['/deta-stand/', dataExpositor.id]">
                <div class="" >
                  <b>
                    {{dataExpositor.compania}}<br> 
                    #Stand: {{ dataExpositor.id }}
                  </b>
                </div>
              </ion-col>
          </ion-row>
        </ion-card-content>
  </ion-card>
</ion-content>
