<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Documentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="" *ngFor="let documento of dataDocumentos">
    <ion-card-content  class="paddingCard">
      <ion-row>
          <ion-col size="3" class="paddingTopX" [routerLink]="['/deta-asistente/', documento.id]">
            <ion-icon  src="./assets/sample-icons/food/doc-file-format.svg"></ion-icon>
          </ion-col>
          <ion-col class="" size="9" [routerLink]="['/deta-asistente/', documento.id]">
            <div class="ion-text-uppercase nombreAsistente">
              <b>  {{documento.nombre}} </b>
            </div> 
          </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
